<div class="container row float-element">
    <h3 class="blue">登录</h3>
    <hr>
    <form class="form-horizontal" method="post" action="">{# "" 表示提交到当前页面 #}
        <div class="form-group">
            <label for="userid" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-4">
                <input type="text" name="userid" class="form-control" placeholder="学号">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-4">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">记住我
                    </label>
                    <a class="float-right" href="/reset">忘记密码？</a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </div>
        </div>
    </form>
    <div class="row ud-pd-md2">
        <div class="col-sm-offset-2 col-sm-4">
            <span class="text-muted">
                没有账号？
                <a href="/signup">立即注册</a>
            </span>
        </div>
    </div>
</div>